<a href="https://colab.research.google.com/github/ms624atyale/Data_Analysis/blob/main/2_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

üëÄ üêæ <font color = 'red'> **Data frame** </font>

|Index Name/label | column 0| column 1 | column 2 | ...| column n |
|:|-|-|-|-|-|
|index 0 | data 0 | data 0 | data 0 | ... | data 0 |
|index 1 | data 1 | data 1 | data 1 | ... | data 1 |
|index 2 | data 2 | data 2 | data 2 | ... | data 2 |
|index 3 | data 3 | data 3 | data 3 | ... | data 3 |
| . | . | . | . | . | . |
| . | . | . | . | . | . |
| . | . | . | . | . | . |
|index n | data n | data n | data n | ... | data n |
|| series 0 | series 1 | series 2 | ... | series n |

>

- series : column vector
- data frame: 2-plane vector or matrix

>

<font color = 'blue'>üëÄ üêæ **An example of data frame**

Think about adding a table on p.12

In [1]:
#@markdown <font color = 'red'> **üêπ Student Activity 1 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **dictionary ‚û°Ô∏è data frame, shape (3,5) 3Ìñâ 5Ïó¥**

#-*- coding: urf-8 -*-

# dictionary data with column name as key & list as value

import pandas as pd
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

#Ìï®ÏàòÎ°ú dict_data Î≥ÄÏàò ÎÇ¥Ïö©ÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î≥ÄÌôò. Î≥ÄÏàò dfÏóê Ìï†Îãπ
df = pd.DataFrame(dict_data)

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

üëÄ üêæ **Give names of row index & coumn name**

In [2]:
#@markdown <font color = 'red'> **üêπ Student Activity 2 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Ìñâ Ïù∏Îç±Ïä§/ Ïó¥ Ïù¥Î¶Ñ ÏßÄÏ†ïÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎì§Í∏∞**

#-*- coding: urf-8 -*-

import pandas as pd

tuple_data = ([15, 'Male', 'Public'], [17, 'Female', 'Priviate'])

df = pd.DataFrame(tuple_data, index = ['Simon', 'Emma'],
              columns = ['Age', 'Gender', 'School'])

print(type(df))
print('\n')
print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

<class 'pandas.core.frame.DataFrame'>


       Age  Gender    School
Simon   15    Male    Public
Emma    17  Female  Priviate


Index(['Simon', 'Emma'], dtype='object')


Index(['Age', 'Gender', 'School'], dtype='object')

In [3]:
#@markdown <font color = 'red'> **üêπ Student Activity 3 ‚§µÔ∏è**

#@markdown <font color = 'blue'>ÏúÑ ÏΩîÎìúÏÖÄ Ìñâ Ïù∏Îç±Ïä§ (row index)Î•º ['Student 1', 'Student 2']Î°ú Î≥ÄÍ≤ΩÌïòÍ≥†, Ïó¥ Ïù¥Î¶Ñ (column name)ÏùÑ ['Number of Years', 'M/F', 'Affiliation'] ÏúºÎ°ú Î≥ÄÍ≤Ω

import pandas as pd

tuple_data = ([15, 'Male', 'Public'], [17, 'Female', 'Priviate'])

df = pd.DataFrame(tuple_data, index = ['Simon', 'Emma'],
              columns = ['Age', 'Gender', 'School'])

df.index = ['Student 1', 'Student 2']

#UserWarning: Pandas doesn't allow columns to be created via a new attribute name. If you miss 'inplace=True argument, you will end up with old column names.
df.rename(columns={'Age':'Number of Years', 'Gender':'M/F', 'School':'Affiliation'}, inplace = True)

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


           Number of Years     M/F Affiliation
Student 1               15    Male      Public
Student 2               17  Female    Priviate

<font color = 'blue'>üëÄ üêæ **Dropping rows & colums**

In [5]:
#@markdown <font color = 'red'> **üêπ Student Activity 4 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Dropping rows Ìñâ ÏÇ≠Ï†ú**
import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])

print(df)
print('\n')

df2 = df[:]
df2.drop('Emma', axis=0, inplace = True) # axis=0 for dropping rows
print(df2)
print('\n')

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


       Math  English  Music  Gym
Simon    90       98     85  100
Mary     70       95    100   90

<ipython-input-5-db12da74e5ea>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('Emma', axis=0, inplace = True) # axis=0 for dropping rows

In [6]:
#@markdown <font color = 'red'> **üêπ Student Activity 4 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Dropping columns Ïó¥ ÏÇ≠Ï†ú**
import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])

print(df)
print('\n')

df2 = df[:]
df2.drop('Gym', axis=1, inplace=True) # axis=1 for dropping columns

print(df2)

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


       Math  English  Music
Simon    90       98     85
Emma     80       89     95
Mary     70       95    100

<ipython-input-6-227bb8f723a7>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('Gym', axis=1, inplace=True) # axis=1 for dropping columns

loc[], iloc[]
* Ïù∏Îç±Ïä§ Ïù¥Î¶Ñ Í∏∞Ï§ÄÏúºÎ°ú ÏÑ†ÌÉùÌï† ÎïåÎäî loc[] ÏÇ¨Ïö©
* Ï†ïÏàòÌòï ÏúÑÏπò Ïù∏Îç±Ïä§Î•º ÏÇ¨Ïö©Ìï† ÎïåÎäî iloc[] ÏÇ¨Ïö©

|Íµ¨Î∂Ñ|loc[]|iloc[]|
|:|-|-|
|ÌÉêÏÉâÎåÄÏÉÅ|Ïù∏Îç±Ïä§ Ïù¥Î¶Ñ index label/name| Ï†ïÏàòÌòï ÏúÑÏπò Ïù∏Îç±Ïä§ (integer position)|
|Î≤îÏúÑÏßÄÏ†ï ÏòàÏãú|loc['a':'c'] ‚û°Ô∏è 'a', 'b', 'c'|iloc[3:7] ‚û°Ô∏è  3,4,5,6|

In [7]:
#@markdown <font color = 'red'> **üêπ Student Activity 5 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Choose a row Ìñâ ÏÑ†ÌÉù**

#@markdown <font color = 'blue'> **loc[] & iloc[]**

import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])

print(df)
print('\n')

label1 = df.loc['Simon']
print(label1)
print('\n')

position1 = df.iloc[0]
print(position1)

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


Math        90
English     98
Music       85
Gym        100
Name: Simon, dtype: int64


Math        90
English     98
Music       85
Gym        100
Name: Simon, dtype: int64

In [8]:
#@markdown <font color = 'red'> **üêπ Student Activity 6 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Choose rows Ìñâ ÏÑ†ÌÉù 1**

#@markdown <font color = 'blue'> **loc[[]] & iloc[[]]**

import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])

print(df)
print('\n')

label2 = df.loc[['Simon', 'Mary']]
print(label2)
print('\n')

location2 = df.iloc[[0,2]]

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


       Math  English  Music  Gym
Simon    90       98     85  100
Mary     70       95    100   90

In [10]:
#@markdown <font color = 'red'> **üêπ Student Activity 7 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Choose rows Ìñâ ÏÑ†ÌÉù 2**

#@markdown <font color = 'blue'> **loc[[]] & iloc[[]]**

import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])

print(df)
print('\n')

label3 = df.loc['Simon':'Emma']
print(label3)
print('\n')

location3 = df.iloc[0:2]
print(label3)

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90


       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90

In [22]:
#@markdown <font color = 'red'> **üêπ Student Activity 8 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Choose a column Ïó¥ ÏÑ†ÌÉù**

#@markdown <font color = 'blue'> **column name[]**

import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])

print(df)
print('\n')

math1 = df['Math']
print(math1)
print('\n')
print(type(math1))

english1 = df['English']
print(english1)
print('\n')
print(type(english1))

gym1 = df['Gym']
print(gym1)
print('\n')
print(type(gym1))

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


Simon    90
Emma     80
Mary     70
Name: Math, dtype: int64


<class 'pandas.core.series.Series'>
Simon    98
Emma     89
Mary     95
Name: English, dtype: int64


<class 'pandas.core.series.Series'>
Simon    100
Emma      90
Mary      90
Name: Gym, dtype: int64


<class 'pandas.core.series.Series'>

In [23]:
#@markdown <font color = 'red'> **üêπ Student Activity 8 ‚§µÔ∏è**

#@markdown <font color = 'blue'> **Choose a column Ïó¥ ÏÑ†ÌÉù**

#@markdown <font color = 'blue'> **column name[[]]**

import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])

print(df)
print('\n')

eng_gym = df[['English','Gym']] #üí£Why do I need two sets of squared brackets??? One set did not work out at all...
print(eng_gym)
print('\n')
print(type(eng_gym))

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


       English  Gym
Simon       98  100
Emma        89   90
Mary        95   90


<class 'pandas.core.frame.DataFrame'>