<a href="https://colab.research.google.com/github/ms624atyale/Data_Analysis/blob/main/DataFrame_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

범위 슬라이싱 활용

* DataFrameObject.iloc[시작인덱스:끝인덱스:슬라이싱간격]

원소 선택
* 인덳 이름 DataFrameObject.loc[row행인덱스, column열이름]
* 인덳 이름 DataFrameObject.iloc[row행번호, column열번호]

In [3]:
#@markdown  **🐹 Student Activity 8 ⤵️**

#@markdown  **Choose a column 열 선택**

#@markdown  **column name[]**

import pandas as pd

exam_data1 = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data1, index = ['Simon', 'Emma', 'Mary'])
print(df)

#df.iloc[::2]
#df.iloc[0:3:2]
#df.iloc[::-1]

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90

####<font color = 'blue'> 👀🐾 **데이터프레임 변환 Converting to basic data frame from dictionary data** 1️⃣ ⤵️

In [17]:
#-*- coding: utf-8 -*-

import pandas as pd

#DataFrame( ) 함수로 데이터프레임 변환, 변수 df에 저장

exam_data2 = {'Name' : ['Simon', 'Mathew', 'Andy'],
             'Math' : [90, 80, 70],
             'English' : [98, 89, 95],
             'Music' : [85, 95, 100],
             'Gym' : [100, 90, 90]}

df = pd.DataFrame(exam_data2)

print(df)
print('\n')

     Name  Math  English  Music  Gym
0   Simon    90       98     85  100
1  Mathew    80       89     95   90
2    Andy    70       95    100   90

####<font color = 'blue'> 👀🐾 **행 인덱스 실행하기 set_index( )** 2️⃣  ⤵️
  - 특정 열(column)을 데이터프레임의 행(row) 인덱스로 설정

In [15]:
ndf = df.set_index(['Name'])
print(ndf)
#df.set_index('Name', inplace=True)
#print(df)

        Math  English  Music  Gym
Name
Simon     90       98     85  100
Mathew    80       89     95   90
Andy      70       95    100   90

####<font color = 'red'> 👀🐾 **데이터프레임 변환 Converting to basic data frame from dictionary data** 1 ⤵️

In [30]:
#-*- coding: utf-8 -*-

import pandas as pd

#DataFrame( ) 함수로 데이터프레임 변환, 변수 df에 저장

dict_data = {'c0' : [1,2,3],
             'c1' : [4,5,6],
             'c2' : [7,8,9],
             'c3' : [10,11,12],
             'c4' : [13,14,15]}

df = pd.DataFrame(dict_data)
print(df)
print('\n')

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

####<font color = 'red'> 👀🐾 **행 인덱스 실행하기 set_index( ) 2-1** ⤵️

In [32]:
#Dictionary데이터를 프레임으로 변환하며, 행 인덱스를 'r0', 'r1', 'r2'로 재지정

df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

####<font color = 'red'> 👀🐾 **#행(row) 인덱스 재배열 reindex( ) 2-2** ⤵️

In [34]:
#인덱스를 [r0, r1, r2, r3, r4]로 재지정
new_index = ['r0','r1','r2','r3','r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

####<font color = 'red'> 👀🐾 **#reindex ( )로 발생한 NaN 값을 숫자 0으로 채우기 3** ⤵️

In [35]:
new_index = ['r0','r1','r2','r3','r4']
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

####<font color = 'red'> 👀🐾 **행(row) 인덱스 초기화 reset_index( ) 4** ⤵️

In [36]:
ndf2=df.reset_index()
print(ndf2)

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

####<font color = 'red'> 👀🐾 **행(row) 인덱스를 기준으로 데이터 정렬 sort_index( ) 5** ⤵️

In [38]:
ndf3 = df.sort_index()
print(ndf3)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

####<font color = 'red'> 👀🐾 **행(row) 인덱스를 기준으로 데이터를 내림차순으로 정렬하려면 sort_index(ascending=False) & 오름차순으로 정렬하려면 sort_index(ascending=True) 5** ⤵️

In [41]:
ndf4=df.sort_index(ascending=False)
print(ndf4)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13