<a href="https://colab.research.google.com/github/ms624atyale/Data_Analysis/blob/main/Slicing_Advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Î≤îÏúÑ Ïä¨ÎùºÏù¥Ïã± ÌôúÏö©

* DataFrameObject.iloc[ÏãúÏûëÏù∏Îç±Ïä§:ÎÅùÏù∏Îç±Ïä§:Ïä¨ÎùºÏù¥Ïã±Í∞ÑÍ≤©]

ÏõêÏÜå ÏÑ†ÌÉù
* Ïù∏Îç≥ Ïù¥Î¶Ñ DataFrameObject.loc[rowÌñâÏù∏Îç±Ïä§, columnÏó¥Ïù¥Î¶Ñ]
* Ïù∏Îç≥ Ïù¥Î¶Ñ DataFrameObject.iloc[rowÌñâÎ≤àÌò∏, columnÏó¥Î≤àÌò∏]

In [3]:
#@markdown  **üêπ Student Activity 8 ‚§µÔ∏è**

#@markdown  **Choose a column Ïó¥ ÏÑ†ÌÉù**

#@markdown  **column name[]**

import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])

print(df)
print('\n')

math1 = df['Math']
print(math1)
print('\n')
print(type(math1))

eng1 = df['English']
print(eng1)
print('\n')
print(type(eng1))

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90


Simon    90
Emma     80
Mary     70
Name: Math, dtype: int64


<class 'pandas.core.series.Series'>
Simon    98
Emma     89
Mary     95
Name: English, dtype: int64


<class 'pandas.core.series.Series'>

In [4]:
#@markdown  **üêπ Student Activity 8 ‚§µÔ∏è**

#@markdown  **Choose a column Ïó¥ ÏÑ†ÌÉù**

#@markdown  **column name[]**

import pandas as pd

exam_data = {'Math':[90, 80, 70], 'English':[98, 89, 95],
             'Music':[85, 95, 100], 'Gym':[100,90,90]}

df = pd.DataFrame(exam_data, index = ['Simon', 'Emma', 'Mary'])
df.iloc[::2]
df.iloc[0:3:2]
df.iloc[::-1]

       Math  English  Music  Gym
Mary     70       95    100   90
Emma     80       89     95   90
Simon    90       98     85  100

In [8]:
#-*- coding: utf-8 -*-

As of 16JUNE23

import pandas as pd

#DataFrame( ) Ìï®ÏàòÎ°ú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Î≥ÄÌôò, Î≥ÄÏàò dfÏóê Ï†ÄÏû•

exam_data = {'Name' : ['Simon', 'Mathew', 'Andy'],
             'Math' : [90, 80, 70],
             'English' : [98, 89, 95],
             'Music' : [85, 95, 100],
             'Gym' : [100, 90, 90]}

pd = pd.DataFrame(exam_data)

print(df)

#'Name' row Î•º ÏÉàÎ°úÏö¥ Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ïÌïòÍ≥†, df object Î≥ÄÍ≤Ω ÏÇ¨Ìï≠ Î∞òÏòÅ

df.set_index('Name', inplace=True)
#print(df)

       Math  English  Music  Gym
Simon    90       98     85  100
Emma     80       89     95   90
Mary     70       95    100   90

KeyError: ignored